    body.body_class {
        padding    : 1rem;
        font-family: 'Montserrat', sans-serif;
    }

    .curPointer {
        cursor: pointer;
    }

    /* Table css */
    .showTable {
        overflow: auto;
        height  : 100%;
    }

    table {
        width     : 100%;
        text-align: left;
    }

    table th {
        font-weight: 900;
        background : #d6d6d6;
        position   : sticky !important;
        position   : -webkit-sticky;
        top        : 0;
    }

    table th,
    table td {
        padding       : 15px 25px;
        text-transform: capitalize;
    }

    table tr:nth-child(odd) {
        background: #fff;
    }

    table tr:nth-child(even) {
        background: #efefef;
    }

    /* page select css */

    .page_size {
        padding-bottom: 15px;
    }

    .select_class {
        margin-bottom: 10px;
        margin-left  : 10px;
        border       : transparent;
        border-bottom: 3px solid;
    }

    .select_class:focus {
        outline: none;
    }

    /* Filter checkbox and search css */

    .form-control {
        padding    : 2px 5px;
        height     : 30px;
        font-size  : 12px;
        line-height: 12px;
    }

    .filter_search {
        display        : flex;
        justify-content: space-between;
    }

    .filter_head {
        display: inline-flex;
        width  : 100%;
    }

    .filter_head h1 {
        font-weight : 900;
        font-family : 'Montserrat', sans-serif;
        margin-right: auto;
    }

    .filter_head span {
        color: #cccccc;
    }

    .filter_search .search,
    .filter_search .filter {
        margin: 10px 0px;
        width : 50%;
    }

    .filter_search .heading {
        font-weight   : 800;
        padding-bottom: 15px;
        font-size     : 26px;
    }

    .input_field {
        padding      : 2px 5px;
        height       : 30px;
        font-size    : 12px;
        line-height  : 12px;
        width        : 100%;
        border       : transparent;
        border-bottom: 3px solid;
    }

    .input_field:focus {
        box-shadow: none !important;
        outline   : none;
    }


    /* checkbox css */

    .custom-control {
        position    : relative !important;
        display     : block !important;
        min-height  : 1.5rem !important;
        padding-left: 1.5rem !important;
    }

    .custom-control-inline {
        display     : inline-flex !important;
        margin-right: 1rem !important;
    }

    .custom-control-input {
        position: absolute;
        left    : 0;
        z-index : -1;
        width   : 1rem;
        height  : 1.25rem;
        opacity : 0;
    }

    .custom-control-label {
        padding-top: 5px;
    }

    .custom-control-label {
        position      : relative;
        margin-bottom : 0;
        vertical-align: top;
    }

    label {
        display      : inline-block;
        margin-bottom: .5rem;
    }

    .custom-control-input:focus~.custom-control-label::before {
        box-shadow: none;
    }

    .custom-control-input:checked~.custom-control-label::before {
        color           : #fff;
        border-color    : #000;
        background-color: #000;
    }

    .custom-checkbox .custom-control-input:checked~.custom-control-label::after {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e");
    }

    .custom-control-label::after {
        position  : absolute;
        top       : 7px;
        left      : -22px;
        display   : block;
        width     : 1rem;
        height    : 1rem;
        content   : "";
        background: 50%/50% 50% no-repeat;
    }

    .custom-control-label::before {
        position        : absolute;
        top             : .25rem;
        left            : -24px;
        display         : block;
        width           : 1rem;
        height          : 1rem;
        pointer-events  : none;
        content         : "";
        background-color: #fff;
        border          : 2px solid #000;
    }

    .custom-control-label::before {
        transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }

    .custom-checkbox .custom-control-label::before {
        border-radius: .25rem;
    }

    /* loader css */
    .main_spinner {
        position: absolute;
        ;
        left      : 0;
        top       : 0;
        width     : 100%;
        height    : 100%;
        background: rgba(51, 51, 51, 0.8);
        z-index   : 9;
    }

    .lds-ring {
        /*display: inline-block;*/
        position : relative;
        width    : 80px;
        height   : 80px;
        top      : 50%;
        left     : 50%;
        transform: translate(-50%, -50%);
    }

    .lds-ring div {
        box-sizing   : border-box;
        display      : block;
        position     : absolute;
        width        : 64px;
        height       : 64px;
        margin       : 8px;
        border       : 8px solid #fff;
        border-radius: 50%;
        animation    : lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color : #fff transparent transparent transparent;
    }

    .lds-ring div:nth-child(1) {
        animation-delay: -0.45s;
    }

    .lds-ring div:nth-child(2) {
        animation-delay: -0.3s;
    }

    .lds-ring div:nth-child(3) {
        animation-delay: -0.15s;
    }

    @keyframes lds-ring {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }